
* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    overflow: hidden;
}


body{
    display: grid;
    grid-template-areas:
    "header"
    " main main main"
     " main main main"
    "footer footer footer";
}


.menu-header{
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #206640;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

#admin{
    font-size:large;
    color: white;
    position: relative;
    left: 90%;
    top: 25%;
}

.icone{
    width: 2%;
    height:50%;
    position:relative;
    left: 95%;
    bottom:18%;
}

#sub{
    font-size:large;
    color: white;
    position: relative;
    left: 0%;
    bottom: 30%;
}

#vei{
    font-size:large;
    color: white;
    position: relative;
    left: 1%;
    bottom: 30%;
}

.bem-vindo{
    position: absolute;
    top: 40%;
    left: 10%;
    font-size: xxx-large;
    opacity: 40%;
}

.imagem-padrao{
    position: absolute;
    width: 46%;
    height: 95%;
    left: 50%;
    top: 10%;
    opacity: 40%;
}